/* Estilo para o corpo da página */
body {
  font-family: Arial, sans-serif;
}

/* Estilo para o container */
.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Estilo para os elementos de formulário */
.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
}

/* Estilo para o botão */
.btn-primary {
  background-color: #3498db;
  border: none;
  color: #fff;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #2980b9;
}

/* Estilo para os elementos de seleção */
.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

/* Estilo para o cabeçalho da página */
h1 {
  text-align: center;
  margin-bottom: 30px;
}